{% extends "djadmin/base.html" %}

{% load staticfiles %}

{% block title %}<title>{{ site_info.site_name }}控制台</title>{% endblock %}
{% block keywords %}<meta name="keywords" content="{{ site_info.site_keywords }}"/>{% endblock %}
{% block description %}<meta name="description" content="{{ site_info.site_description }}"/>{% endblock %}

{% block main %}

<div class="content-wrapper">
    <section class="content-header">
        <h1>
            {{ site_info.site_name }}
            <small>控制台</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>&nbsp;首页</a></li>
            <li><a href="#">
                {% for menu in menu_list %}
                    {% ifequal menu.id menu_now.menu_pid %}
                        {{ menu.menu_name }}
                    {% endifequal %}
                {% endfor %}
            </a></li>
            <li class="active">{{ menu_now.menu_name }}</li>
        </ol>
    </section>

    <section class="content">
        {% if messages %}
            <div class="callout callout-info">
                <h4>提示！</h4>
                {% for message in messages %}
                    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">{{ api.api_name }}</h3>
            </div>
            <!-- /.box-alert -->
            <div class="box-body">
                <form role="form" action="/djadmin/api/{{ api.id }}/errno/add" method="post">
                    {% csrf_token %}

                    <div class="form-group">
                        <label>错误码</label>
                        <div class="row">
                            <div class="col-xs-4">
                                <input type="text" class="form-control" name="errno" placeholder="Enter ...">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>错误码返回</label>
                        <div class="row">
                            <div class="col-xs-4">
                                <input type="text" class="form-control" name="errno_message" placeholder="Enter ...">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>错误码返回说明</label>
                        <div class="row">
                            <div class="col-xs-8">
                                <textarea class="form-control" rows="3" name="errno_intro" placeholder="Enter ..."></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">添加</button>
                        &nbsp;
                        <a href="/djadmin/api/{{ api.id }}/errno" class="btn btn-success" role="button">返回</a>
                    </div>
                </form>
            </div>
            <!-- /.box-body -->
          </div>
    </section>
</div>

{% endblock %}
