{% extends "djadmin/base.html" %}

{% load staticfiles %}

{% block title %}<title>{{ site_info.site_name }}控制台</title>{% endblock %}
{% block keywords %}<meta name="keywords" content="{{ site_info.site_keywords }}"/>{% endblock %}
{% block description %}<meta name="description" content="{{ site_info.site_description }}"/>{% endblock %}

{% block main %}

<div class="content-wrapper">
    <section class="content-header">
        <h1>
            {{ site_info.site_name }}
            <small>控制台</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>&nbsp;首页</a></li>
            <li><a href="#">
                {% for menu in menu_list %}
                    {% ifequal menu.id menu_now.menu_pid %}
                        {{ menu.menu_name }}
                    {% endifequal %}
                {% endfor %}
            </a></li>
            <li class="active">{{ menu_now.menu_name }}</li>
        </ol>
    </section>

    <section class="content">
        {% if messages %}
            <div class="callout callout-info">
                <h4>提示！</h4>
                {% for message in messages %}
                    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}

        <div class="add-button">
            <p class="text-right">
                <a href="/djadmin/api/{{ api.id }}/param/add" class="btn btn-primary"><i class="fa fa-fw fa-plus"></i> Add参数</a>
            </p>
        </div>

        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">{{ api.api_name }}</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <th>参数名</th>
                            <th>参数类型</th>
                            <th>必填</th>
                            <th>参数位置</th>
                            <th>默认值</th>
                            <th>排序码</th>
                            <th>描述</th>
                            <th>操作</th>
                        </tr>
                        {% for param in params %}
                            <tr>
                                <td>{{ param.param_name }}</td>
                                <td>{{ param.param_type }}</td>
                                <td>{% ifequal param.param_requested 1 %}是{% else %}否{% endifequal %}</td>
                                <td>
                                    {% ifequal param.param_location 0 %}header参数{% endifequal %}
                                    {% ifequal param.param_location 1 %}url参数{% endifequal %}
                                    {% ifequal param.param_location 2 %}body参数{% endifequal %}
                                </td>
                                <td>{{ param.param_default }}</td>
                                <td>{{ param.param_order }}</td>
                                <td>{{ param.param_description }}</td>
                                <td>
                                    <a href="/djadmin/api/{{ api.id }}/param/{{ param.id }}/change">编辑</a>
                                    <a href="/djadmin/api/{{ api.id }}/param/{{ param.id }}/delete">删除</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->

            <div class="box-footer clearfix">
                <ul class="pagination no-margin pull-right">
                    <li>
                        {% if params.has_previous %}
                            <a href="/djadmin/api/{{ api.id }}/param?page={{ params.previous_page_number }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        {% endif %}
                    </li>

                    {% for page_num in page_range %}
                        {% ifequal page_num params.number %}
                            <li class="active">
                                <span class="current">{{ params.number }}</span>
                            </li>
                        {% else %}
                            <li>
                                <a href="/djadmin/api/{{ api.id }}/param?page={{ page_num }}"">
                                    <span>{{ page_num }}</span>
                                </a>
                            </li>
                        {% endifequal %}
                    {% endfor %}  

                    <li>
                        {% if params.has_next %}
                            <a href="/djadmin/api/{{ api.id }}/param?page={{ params.next_page_number }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        {% endif %}
                    </li>
                    <li><span>查询到{{ query_num }}条记录</span></li>
                </ul>
            </div>
        </div>
    </section>
</div>

{% endblock %}
