<section class="footer-section">
    <footer>
        <div class="footer2-pynxl">
            <div class="container">
                <div class="copy-pynxl">
                    <p>
                        <span>
                            <a href="/about/introduce/" target="_blank">关于我们</a>
                            <a href="/about/trends/" target="_blank">新闻动态</a>
                            <a href="/about/contactus/" target="_blank">联系我们</a>
                            <a href="/about/declaration/" target="_blank">负责声明</a>
                            <a href="/about/mobile/" target="_blank">移动应用</a>
                        </span>
                    </p>
                </div>
                <div class="copy-v2-pynxl">
                    <p>
                        <span>
                            Copyright &copy;{{ site_info.site_copyright }} {{ site_info.site_name }}
                            <a href="http://www.miibeian.gov.cn/" target="_blank">
                                {{ site_info.site_license }}
                            </a>
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </footer>
</section>
